body {
    background:linear-gradient(#8a307f,#6883bc);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align:center;
    color:white;
}

@keyframes bouton {
    from {
        transform:scale(1.0);

    }

    to {
        transform:scale(1.1);
    }
}

.btn:hover {
    animation:bouton ease-in-out 4s;
}

.mx-auto {
    display:flex;
    align-items: center;
    justify-content: center;
}