h1 {
    text-align:center;
}

@keyframes bouton {
    from {
        transform:scale(1.0);

    }

    to {
        transform:scale(1.1);
    }
}

.btn:hover {
    animation:bouton ease-in-out 4s;
}

.mx-auto {
    text-align:center;
    justify-content: center;
}